@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}
html {
  scroll-behavior: smooth;
}
.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary;
  }
}
.testi-smooth {
  animation: testiSmooth 0.7s cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes testiSmooth {
  0% {
    opacity: 0;
    transform: translateY(15px) scale(0.97);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

